altair
pandas
streamlit
pydantic
streamlit-pydantic
pydantic==1.*
langchain==0.1.1
langchain-community==0.0.13
langchain-core==0.1.12
langchain-openai==0.0.2.post1
langsmith==0.0.81
openai==1.8.0
pinecone-client>=2.2.2
python-dotenv>=1.0.0
